.send-email-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
  margin:auto;
} 

.send-email-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.response {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}   